<ion-view view-title="SPCFit SDK">
    <ion-content>
        <div class="list">
            <div class="item item-icon-left item-button-right">
                <i class="icon ion-search"></i>
                Find devices
                <div class="buttons">
                    <a class="button ion-search" ng-click="findDevices()"></a>
                </div>
            </div>

            <div class="item item-icon-left item-button-right">
                <i class="icon ion-locked"></i>
                Connect to device
                <div class="buttons">
                    <a class="button ion-log-in" ng-click="connectToDevice()"></a>
                    <a class="button ion-log-out" ng-click="disconnectFromDevice()"></a>
                </div>
            </div>

            <div class="item item-icon-left item-button-right">
                <i class="icon ion-calendar"></i>
                Time
                <div class="buttons">
                    <a class="button ion-log-in" ng-click="setTime()"></a>
                    <a class="button ion-log-out" ng-click="getTime()"></a>
                </div>
            </div>

            <div class="item item-icon-left item-button-right">
                <i class="icon ion-person"></i>
                Personal info
                <div class="buttons">
                    <a class="button ion-log-in" ng-click="setPersonalInformation()"></a>
                    <a class="button ion-log-out" ng-click="getPersonalInformation()"></a>
                </div>
            </div>

            <div class="item item-icon-left item-button-right">
                <i class="icon ion-stats-bars"></i>
                Activity
                <div class="buttons">
                    <a class="button ion-clipboard" ng-click="getTotalActivityData()"></a>
                    <a class="button ion-funnel" ng-click="getDetailActivityData()"></a>
                    <a class="button ion-calendar" ng-click="getCurrentActivityInformation()"></a>
                    <a class="button ion-trash-a" ng-click="deleteActivityData()"></a>
                </div>
            </div>

            <div class="item item-icon-left item-button-right">
                <i class="icon ion-clock"></i>
                Real time
                <div class="buttons">
                    <a class="button ion-play" ng-click="startRealTimeMeterMode()"></a>
                    <a class="button ion-stop" ng-click="stopRealTimeMeterMode()"></a>
                </div>
            </div>

            <div class="item item-icon-left item-button-right">
                <i class="icon ion-pinpoint"></i>
                Target steps
                <div class="buttons">
                    <a class="button ion-log-in" ng-click="setTargetSteps()"></a>
                    <a class="button ion-log-out" ng-click="getTargetSteps()"></a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>